:root {
  --font-dm-sans: "DM Sans", sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --primary-bg: #121212;
  --bg-icon: #131313;
  --secondary-bg: #242424;
  --bg-arrow-color: #rbga(0, 0, 07);
  --button-subscribe: #a7a7a7;
  --text-color: #b3b3b3;
}
